body{
  background-color: #FFFFFF;
  
}
small{
    display: block;
    text-align: end;
}
.main-menu{
    width: 300px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: #b6b6b51d;
}
.header-nav nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between ;
    width: 650px;
    margin-top: 30px;

}
.header-nav nav ul li a{
    text-decoration: none;
    color: black;
}
/* section-1 */
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.section-1-right-box{
    background-image: url(images/c-design-svg.png);
    width: 100%;
    margin-left: 65px;
    margin-bottom: 21px;

}
.section-1-right-box img{
    width: 50%;

}
/* logo portion */
/* .section-2{

} */
h1#mandatory{
    text-align: center;
    margin-top: 60px;
}
.section-2 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 225px;
    width: 750px;
    margin-top: 20px;
    background: #ecf4f3a8;
    padding-left: 2px;
    border-radius: 5px;
}
.section-2 ul li{
    list-style: none;
}
.section-2 ul li img{

}
.section-3{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section-3-container{
    display: grid;
    justify-content: start;
    width: 300px;
    margin-top: 1.5em;
}
.section-3-container img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.section-3-writing-box{
    width: 300px;
}
.section-3-writing-box ul{
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    color: #FB8200;
}
.section-3-writing-box ul li{
    margin-right: 10px;
    
}
.section-4-bonus{
    justify-content: space-around;
    margin-top: 20px;
    display: flex;
}
.bonus-left-box{
    border: 1px solid orange;
    width: 700px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}
.bonus-left-box >div{
    height: 195px;
    width: 100px;
    border: .1em solid cornflowerblue;
}
.bonus-right-box{
    border: 1px solid orange;
    height: 200px;
    width: 300px;
}
footer{
    text-align: center;
    background-color: #0A0826;
    color: #FFFFFF;
    
}
footer nav ul{
    display: flex;
    justify-content: space-evenly;
}
footer nav ul li{
    list-style: none;
}
.footer-links{
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 10px;
}